* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.clear {
  clear: both;
}
/* Header */
#nav {
  background-color: black;
  top: 0;
  width: 100%;
  position: fixed;
  height: 46px;
  z-index: 2;
}
#nav > li {
  display: inline-block;
  position: relative;
}
#nav li a {
  padding: 15px 24px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 46px;
  color: white;
}
#nav > li:hover > a {
  background-color: rgb(191, 191, 191);
  color: black;
}
#nav li a i {
  margin-left: 5px;
  font-size: 14px;
}
#nav li .icon-search {
  color: white;
  line-height: 46px;
  padding: 0px 24px;
}
#nav li .icon-search:hover {
  background-color: brown;
}
/* Sub-nav */

#nav .sub-nav {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  list-style-type: none;
  z-index: 1;
}
#nav .sub-nav a {
  color: black;
  padding: 0px 16px;
  text-transform: none;
  display: block;
  font-size: 15px;
}

#nav .sub-nav a:hover {
  background-color: gray;
}
#nav li:hover .sub-nav {
  display: block;
}

/* Slider */
#slider {
  background: url(https://www.w3schools.com/w3images/ny.jpg) center top/cover
    no-repeat;
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
}
#slider .text-content {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
}
.text-heading {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}
.text-p {
  font-size: 15px;
  margin-bottom: 50px;
}

/* Content */
/* content-section */
.content-section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
.section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10 auto;
}
.section-sub-heading {
  margin: 15px auto;
  font-size: 15px;
  font-style: italic;
  opacity: 0.5;
  text-align: center;
}
.about-text {
  margin: 15px auto;
  text-align: justify;
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 1px;
}
.member-list {
  text-align: center;
}
.member-item {
  float: left;
  width: 33.33%;
}
.member-name {
  margin: 15px auto;
  font-size: 15px;
}
.member-item .item-img {
  width: 156px;
  border-radius: 5px;
}
.clear {
  clear: both;
}

/* tour  */
.tour-section {
  background-color: black;
}
.tour-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
  color: white;
}
.tour-heading {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 15px auto;
}
.tour-sub-heading {
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}
.month {
  background-color: white;
  color: black;
  margin: 35px 0;
}
.month li {
  text-decoration: none;
  list-style-type: none;
  color: gray;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
}
.sold-out {
  margin-left: 20px;
  background-color: rgb(251, 77, 77);
  padding: 5px 15px;
  color: white;
}
.quality {
  margin-top: -4px;
  float: right;
  background-color: black;
  padding: 4px 10px;
  border-radius: 15px;

  text-align: center;
}

/* ticket */
.place-list {
  margin-top: 30px;
  margin-left: -8px;
  margin-right: -8px;
}
.place-item {
  float: left;
  width: 33.33%;
  padding: 0 8px;
  margin-bottom: 40px;
}
.place-img {
  width: 100%;
  display: block;
}
.ticket-infor {
  background-color: white;
  color: black;
  padding: 10px;
}
.address {
  color: black;
  margin: 15px 0;
  font-size: 15px;
}
.time {
  font-size: 15px;
  opacity: 0.5;
  margin: 15px 0;
}

.desc {
  margin: 15px 0;
}
.buy-ticket {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
}
.buy-ticket:hover {
  background-color: gainsboro;
  color: black;
  cursor: pointer;
}
/* Contact */
.contact-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
.contact-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 30px;
  margin: 15px 0;
}
.sub-heading {
  margin: 15px 0;
  font-size: 15px;
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}
.contact-infor {
  float: left;
  width: 50%;
}
.contact-infor i {
  color: black;
  font-weight: 700;
  display: block;
  padding-bottom: 8px;
  font-style: normal;
  font-size: 18px;

  text-transform: none;
}
.contact-infor span {
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.infor {
  margin-left: 15px;
}
/* Contact-form */
.contact-list {
  margin-top: 45px;
}
.contact-form {
  width: 50%;

  float: right;
}
#name {
  width: 48%;
  float: left;
}
#email {
  width: 48%;
  float: right;
}
.name-email {
  padding: 8px;
  display: inline-block;
}
#message {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
}
#send {
  margin: 16px 0;
  padding: 8px 16px;
  float: right;
  font-size: 15px;
  background-color: black;
  color: white;
  border: none;
}
#send:hover {
  background-color: gray;
  color: black;
}

#map .map-img {
  padding: 30px 0;
  width: 100%;
}
#footer {
  padding: 30px 10px;
  max-width: 800px;
  margin: 0px auto;
}
.icon {
  text-align: center;
}
.icon a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon a i {
  font-size: 25px;
}
.last-dance {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 15px;
  opacity: 0.6;
}
.last-dance a {
  color: black;
  opacity: 1;
}
